apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-pv-claim
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
spec:
  selector:
    matchLabels:
      app: mysql
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - image: mysql:8.0
          name: mysql
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: root
            - name: MYSQL_DATABASE
              value: Infin8
          ports:
            - containerPort: 3306
              name: mysql
          volumeMounts:
            - name: mysql-persistent-storage
              mountPath: /var/lib/mysql
      volumes:
        - name: mysql-persistent-storage
          persistentVolumeClaim:
            claimName: mysql-pv-claim
---
apiVersion: v1
kind: Service
metadata:
  name: mysql
spec:
  ports:
    - port: 3306
  selector:
    app: mysql
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: infin8-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: infin8-app
  template:
    metadata:
      labels:
        app: infin8-app
    spec:
      containers:
        - image: dhruvk321/infin8:latest # Replace with your actual image
          name: infin8-app
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          ports:
            - containerPort: 8000
          env:
            - name: MYSQL_HOST
              value: mysql
            - name: MYSQL_USER
              value: root
            - name: MYSQL_PASSWORD
              value: root
            - name: MYSQL_DATABASE
              value: Infin8
            - name: MYSQL_PORT
              value: "3306"
            - name: EMAIL_HOST_USER
              value: "dummy@example.com"
            - name: EMAIL_HOST_PASSWORD
              value: "dummy"
---
apiVersion: v1
kind: Service
metadata:
  name: infin8-app-service
spec:
  type: LoadBalancer
  selector:
    app: infin8-app
  ports:
    - port: 80
      targetPort: 8000
