---
- name: Intelligent Canary Deployment to Kubernetes
  hosts: localhost
  connection: local
  gather_facts: false
  vars:
    new_image: "{{ lookup('env', 'NEW_IMAGE') }}"
    stable_image: "{{ lookup('env', 'STABLE_IMAGE') | default('dhruvk321/infin8:latest', true) }}"
  tasks:
    - name: Update kubeconfig context
      command: minikube update-context
      ignore_errors: yes

    - name: Wait for API server to be ready
      command: kubectl get nodes
      register: nodes_result
      until: nodes_result.rc == 0
      retries: 5
      delay: 2
  roles:
    - canary_deploy
