---
- name: Deploy Infin8 Application
  hosts: webserver
  become: yes
  vars:
    project_dir: /opt/infin8
    docker_registry_user: "{{ lookup('env', 'DOCKER_REGISTRY_USER') | default('dhruvk321', true) }}"
    docker_image: "{{ docker_registry_user }}/infin8:latest"
    vault_addr: "http://localhost:8200"
    vault_token: "root"

  roles:
    - vault_integration
    - common
    - docker_deploy
