---
- name: Deploy Infin8 Application
  hosts: webserver
  become: yes
  vars:
    project_dir: /opt/infin8
    docker_image: dhruvk321/infin8:latest
    vault_addr: "http://localhost:8200"
    vault_token: "root"

  roles:
    - vault_integration
    - common
    - docker_deploy
